<mat-tab-group class="expenses-tab-group-container">
  <mat-tab label="Expenses">
    <table mat-table [dataSource]="expenses()" class="mat-elevation-z8">
      <tr mat-header-row *matHeaderRowDef="displayedExpensesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedExpensesColumns"></tr>

      @for (col of displayedExpensesColumns; track col) {
        <!-- TODO: add inline-editing capabilities -->
        <ng-container [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef>{{ col.toLocaleUpperCase() }}</th>
          <td mat-cell *matCellDef="let element">
            @if (element[col]) {
              {{ element[col] }}
            } @else {
              <button matIconButton (click)="deleteExpense(element)">
                <mat-icon>remove_circle</mat-icon>
              </button>
            }
          </td>
        </ng-container>
      }
    </table>
    <mat-paginator
      (page)="updatePagination($event)"
      [length]="pagination().length"
      [pageSizeOptions]="[5, 10]"
      [pageSize]="pagination().pageSize"
    />
  </mat-tab>
  <mat-tab label="Categories">
    <table mat-table [dataSource]="CATEGORIES" class="mat-elevation-z8">
      <tr mat-header-row *matHeaderRowDef="displayedCategoriesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedCategoriesColumns"></tr>

      @for (col of displayedCategoriesColumns; track col) {
        <ng-container [matColumnDef]="col">
          <th mat-header-cell *matHeaderCellDef>{{ col.toLocaleUpperCase() }}</th>
          <td mat-cell *matCellDef="let element">{{ element[col] }}</td>
        </ng-container>
      }
    </table>
  </mat-tab>
</mat-tab-group>
