<mat-tab-group>
  <mat-tab label="Expenses">
    <form [formGroup]="expensesForm" (ngSubmit)="onSubmit()">
      <mat-card class="expenses-card-container" appearance="outlined">
        <mat-card-header>
          <mat-card-title>Expenses</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="expenses-card-content-container">
            <mat-form-field>
              <mat-label>Pending</mat-label>
              <input matInput type="pending" formControlName="pending" />
              <!-- @if (loginForm.get('email')?.hasError('required')) { -->
              <!-- <mat-error>Email is required</mat-error> -->
              <!-- } @else if (loginForm.get('email')?.hasError('validEmail')) { -->
              <!-- <mat-error>Enter a valid email address</mat-error> -->
              <!-- } -->
            </mat-form-field>
            <mat-form-field>
              <mat-label>Pending</mat-label>
              <input matInput type="pending" formControlName="pending" />
              <!-- @if (loginForm.get('password')?.hasError('required')) { -->
              <!-- <mat-error>Password is required</mat-error> -->
              <!-- } @else if (loginForm.get('password')?.hasError('minlength')) { -->
              <!-- <mat-error>Password must be at least 8 characters</mat-error> -->
              <!-- } -->
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions class="expenses-card-actions-container">
          <button matButton="filled" [disabled]="expensesForm.invalid">Submit</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="Categories">Categories</mat-tab>
</mat-tab-group>
