@use '../../../mixins.scss';

.login-card-actions-container {
  @include mixins.base-column-flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.login-card-container,
.login-card-content-container {
  @include mixins.base-column-flex;
}
