<form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
  <mat-card class="login-card-container" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="login-card-content-container">
        @for (control of loginForm.controls | keyvalue; track control.key) {
          <mat-form-field>
            <mat-label>{{ control.key.toLocaleUpperCase() }}</mat-label>
            <input matInput [type]="control.key" [formControlName]="control.key" />
            @if (loginForm.get(control.key)?.hasError('required')) {
              <mat-error>{{ control.key.toLocaleUpperCase() }} is required</mat-error>
            } @else if (loginForm.get(control.key)?.hasError('validEmail')) {
              <mat-error>{{ control.key.toLocaleUpperCase() }} is not valid</mat-error>
            } @else if (loginForm.get(control.key)?.hasError('minlength')) {
              <mat-error>{{ control.key.toLocaleUpperCase() }} is too short</mat-error>
            }
          </mat-form-field>
        }
      </div>
    </mat-card-content>
    <mat-card-actions class="login-card-actions-container">
      <button matButton="outlined" type="submit" [disabled]="loginForm.invalid">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
