@use '@angular/material' as mat;

html {
  @include mat.snack-bar-overrides(
    (
      button-color: var(--mat-sys-on-surface),
      container-color: var(--mat-sys-surface),
      supporting-text-color: var(--mat-sys-body-medium),
    )
  );
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
  height: 100%;
}

body {
  background-color: var(--mat-sys-surface);
  color-scheme: light;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  height: 100%;
  margin: 0;
}
