@use './material-theme.scss';
@use './mixins.scss';

.empty-data-container,
.spinner-container {
  @include mixins.base-column-flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.table-buttons-container {
  @include mixins.base-row-flex;
  align-items: flex-start;
  justify-content: space-between;
}

.table-container {
  @include mixins.base-column-flex;
  min-height: 65vh;
}

.table-filters-container {
  @include mixins.base-row-flex;
}
