@use './material-theme.scss';

@mixin base-column-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: true;
  gap: 1rem;
}

.expenses-tab-group-container {
  @include base-column-flex();
  height: 90vh;
  width: 80vw;
}

.login-card-container,
.login-card-content-container {
  @include base-column-flex;
}

.login-card-actions-container {
  @include base-column-flex;
  align-items: center;
  justify-content: center;
}

.menu-button-container {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 99;
}

.sidenav-content-container {
  @include base-column-flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.table-container {
  height: 50vh;
}

.table-buttons-container {
  @include base-column-flex;
  align-items: flex-end;
  justify-content: center;
}
